<h1 class = "display-1 text-center" >Login</h1>
<div class = " text-center">
<%= form_tag '/login' do %>

  <h2>Username:</h2> <%= text_field_tag :username %>
  <h2>Password:</h2> <%= password_field_tag :password %>
  <br> <br>
  <%= submit_tag "Login!", :method => :get, :class => "btn btn-primary" %>

<% end %>
</div>