<link rel="stylesheet" href="/assets/stylesheets/customcss.css"/>

<div> 

<h1 class = "display-1 text-center">Welcome to Photogur!</h1>
<h4 class = "text-center"> Link us to your favorite online images!</h4>


<%= render 'form', picture: @picture %>

<%# <%= link_to 'Back', pictures_path %> 


</div>